@model ExpenseManagement.Models.InterestIncomes

@{
    ViewData["Title"] = "Faiz Geliri Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-plus"></i>&nbsp;Faiz Geliri Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Year" class="control-label"></label>
                                    <div class="input-group-prepend">
                                        <select asp-for="Year" class="form-control btn btn-default" id="year">
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                            <option>2028</option>
                                            <option>2029</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InterestType" class="control-label"></label>
                                    <select asp-for="InterestType" class="form-control" asp-items="ViewBag.InterestType" id="type"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()"></select>
                                        </div>
                                        <input asp-for="Amount" class="form-control" id="amount" autocomplete="off" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="add()" id="createButton" />
                            <a class="btn btn-primary" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function add() {
        var year = document.getElementById("year").value;
        var interestType = document.getElementById("type").value;
        var amount = document.getElementById("amount").value;

        var data = new FormData();

        if (interestType == "Gecelik") {
            data.append('interestType', 0);
        }
        if (interestType == "Uzun Dönem") {
            data.append('interestType', 1);
        }

        data.append('year', year);
        data.append('amount', amount);

        $("#createButton").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/InterestIncome/Create",
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#createButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>