@model ExpenseManagement.Models.DepositAccounts

@{
    ViewData["Title"] = "Vadeli Hesabı Düzenle";
    Layout = "_BankLayout";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-plus"></i>&nbsp;Vadeli Hesabı Düzenle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Id" class="form-control" id="id" hidden />
                                <div class="form-group">
                                    <label asp-for="BankBranchId" class="control-label"></label>
                                    <select asp-for="BankBranchId" class="form-control" asp-items="ViewBag.BankBranchId" id="bankBranchId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select asp-for="AmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()" id="amountCurrency"></select>
                                        </div>
                                        <input asp-for="Amount" class="form-control" id="amount" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DayOfDeposit" class="control-label"></label>
                                    <input asp-for="DayOfDeposit" class="form-control" id="dayOfDeposit" />
                                    <span asp-validation-for="DayOfDeposit" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Interest" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-percentage"></i></span>
                                        </div>
                                        <input asp-for="Interest" class="form-control" id="interest" />
                                        <span asp-validation-for="Interest" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Profit" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select asp-for="ProfitCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.AmountCurrencyEnum>()" id="profitCurrency"></select>
                                        </div>
                                        <input asp-for="Profit" class="form-control" id="profit" />
                                        <span asp-validation-for="Profit" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="StartDate" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FinishDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="FinishDate" type="text" class="form-control float-right" id="datepicker2" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" onclick="updateDepositAccount()" id="updateButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function getVehiclePurchase() {
        var id = '@Url.RouteUrl(ViewContext.RouteData.Values).Split("/").Last()';

        $.ajax({
            url: '/DepositAccount/EditPost?&id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                var start = new Date(returnvalue.startDate);
                var finish = new Date(returnvalue.finishDate);

                var dayS = start.getDate();
                var monthS = start.getMonth() + 1;
                var yearS = start.getFullYear();
                dayS = dayS < 10 ? "0" + dayS : dayS;
                monthS = monthS < 10 ? "0" + monthS : monthS;

                var dayF = finish.getDate();
                var monthF = finish.getMonth() + 1;
                var yearF = finish.getFullYear();
                dayF = dayF < 10 ? "0" + dayF : dayF;
                monthF = monthF < 10 ? "0" + monthF : monthF;

                document.getElementById("id").value = returnvalue.id;
                document.getElementById("bankBranchId").value = returnvalue.bankBranchId;
                document.getElementById("amount").value = returnvalue.amount.toLocaleString("tr-TR");
                document.getElementById("amountCurrency").value = returnvalue.amountCurrency;
                document.getElementById("dayOfDeposit").value = returnvalue.dayOfDeposit;
                document.getElementById("interest").value = returnvalue.interest;
                document.getElementById("profit").value = returnvalue.profit.toLocaleString("tr-TR");
                document.getElementById("profitCurrency").value = returnvalue.profitCurrency;
                document.getElementById("datepicker").value = yearS + "/" + monthS + "/" + dayS;
                document.getElementById("datepicker2").value = yearF + "/" + monthF + "/" + dayF;
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = "Vadeli Hesap Kaydı Getirilirken Bir Hata Oluştu!";
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>
<script>
    function updateDepositAccount() {
        var id = document.getElementById("id").value;
        var bankBranchId = document.getElementById("bankBranchId").value;
        var amount = document.getElementById("amount").value;
        var amountCurrency = document.getElementById("amountCurrency").value;
        var dayOfDeposit = document.getElementById("dayOfDeposit").value;
        var interest = document.getElementById("interest").value;
        var profit = document.getElementById("profit").value;
        var profitCurrency = document.getElementById("profitCurrency").value;
        var startDate = document.getElementById("datepicker").value;
        var finishDate = document.getElementById("datepicker2").value;

        var data = new FormData();

        data.append('id', id);
        data.append('bankBranchId', bankBranchId);
        data.append('amount', amount);
        data.append('amountCurrency', amountCurrency);
        data.append('dayOfDeposit', dayOfDeposit);
        data.append('interest', interest);
        data.append('profit', profit);
        data.append('profitCurrency', profitCurrency);
        data.append('startDate', startDate);
        data.append('finishDate', finishDate);

        $("#updateButton").attr("disabled", true);

        $.ajax({
            url: '/DepositAccount/Edit?id=' + id,
            type: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#updateButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>