@model ExpenseManagement.Models.VehiclePurchases

@{
    ViewData["Title"] = "Araç Alımı Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-plus"></i>&nbsp;Araç Alımı Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CarModel.CarBrandName" class="control-label"></label>
                                            <select id="Brand" asp-for="CarModel.CarBrand.Name" class="form-control"></select>
                                            <span asp-validation-for="CarModel.CarBrand.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CarModel.Name" class="control-label"></label>
                                            <select id="Model" asp-for="CarModel.Name" class="form-control"></select>
                                            <span asp-validation-for="CarModel.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="IsNew"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <input type="checkbox" asp-for="IsNew" id="isNew">
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="IsSold"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <input type="checkbox" asp-for="IsSold" id="isSold">
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PurchaseDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="PurchaseDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker" />
                                            </div>
                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SaleDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="SaleDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker2" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ValorDate" class="control-label"></label>
                                            <input asp-for="ValorDate" class="form-control" id="valorDate" autocomplete="off" />
                                            <span asp-validation-for="ValorDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Chassis" class="control-label"></label>
                                            <input asp-for="Chassis" class="form-control" autocomplete="off" id="chassis" />
                                            <span asp-validation-for="Chassis" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PurchaseAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select asp-for="PurchaseAmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.CurrencyEnum>()" id="purchaseAmountCurrency"></select>
                                        </div>
                                        <input asp-for="PurchaseAmount" class="form-control" autocomplete="off" id="purchaseAmount" />
                                        <span asp-validation-for="PurchaseAmount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="OTVPercent" class="control-label"></label>
                                                    <select id="otvPercent" asp-for="OTVPercent" class="form-control" onchange="calculateOTV()">
                                                        <option>0</option>
                                                        <option>50</option>
                                                        <option>80</option>
                                                        <option>130</option>
                                                        <option>150</option>
                                                        <option>200</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label asp-for="OTV" class="control-label"></label>
                                                    <input asp-for="OTV" class="form-control" autocomplete="off" id="otv" />
                                                    <span asp-validation-for="OTV" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">KDV Oranı (%)</label>
                                                    <select class="form-control" disabled>
                                                        <option>18</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label asp-for="KDV" class="control-label"></label>
                                                    <input asp-for="KDV" class="form-control" autocomplete="off" id="kdv" />
                                                    <span asp-validation-for="KDV" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Tescil Bedeli (₺)</label>
                                                    <select id="feeAmount" asp-for="RegistrationFee" class="form-control" onchange="calculateFinalAmount()">
                                                        <option>0</option>
                                                        <option>920,5</option>
                                                        <option>1388,5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label asp-for="IncludingRegistrationFee" class="control-label"></label>
                                                    <input asp-for="IncludingRegistrationFee" class="form-control" autocomplete="off" id="includingRegistrationFee" />
                                                    <span asp-validation-for="IncludingRegistrationFee" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SaleAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select asp-for="SaleAmountCurrency" class="form-control btn btn-default" disabled asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.CurrencyEnum>()" id="saleAmountCurrency"></select>
                                                </div>
                                                <input asp-for="SaleAmount" class="form-control" autocomplete="off" id="saleAmount" type="text" disabled />
                                                <span asp-validation-for="SaleAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="createVehiclePurchase()" id="createButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <script>
            function calculateOTV() {
                var percent = document.getElementById("otvPercent").value;
                var amount = document.getElementById("purchaseAmount").value;
                var totalTax = amount * percent / 100;
                if (isNaN(Number(totalTax))) {
                    amount = Number(amount.replace(',', '.'));
                    totalTax = amount * percent / 100;
                }

                incOtv = +totalTax + +amount;
                Kdv = incOtv * 18 / 100;
                incKDV = +incOtv + +Kdv

                document.getElementById("otv").value = currency(incOtv, { decimal: ',', separator: '', symbol: '' }).format();
                document.getElementById("kdv").value = currency(incKDV, { decimal: ',', separator: '', symbol: '' }).format();
            }

            function calculateFinalAmount() {
                var amount = document.getElementById("purchaseAmount").value;
                var incKdv = document.getElementById("kdv").value;
                var fee = document.getElementById("feeAmount").value;

                var final = +incKdv + +fee

                if (isNaN(Number(final))) {
                    incKdv = Number(incKdv.replace(',', '.'));
                    fee = Number(fee.replace(',', '.'));
                    final = +incKdv + +fee
                }
                document.getElementById("includingRegistrationFee").value = currency(final, { decimal: ',', separator: '', symbol: '' }).format();
            }
        </script>
        <script>
            function brandLoad() {
                $('#Brand').html('');
                $("#isNew").attr('value', 'false');
                $("#isSold").attr('value', 'false');
                $.getJSON('@Url.Action("GetCarBrands", "CarBrand")', function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#Brand").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                    }
                    showValue(result[0].id);
                })
            }
            window.onload = brandLoad;

            $("#Brand").on("change", function (e) {
                showValue(e.target.selectedOptions[0].id);
            })

            function showValue(brandId)
            {
                $('#Model').html('');
                $.getJSON('@Url.Action("GetCarModelsById", "CarModel")' + "?Id=" + brandId, function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#Model").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                    }
                })
            }
        </script>
        <script>
            $("#isSold").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                    $('#datepicker2').removeAttr('disabled');
                    $('#saleAmount').removeAttr('disabled');
                    $('#saleAmountCurrency').removeAttr('disabled');
                } else {
                    $(this).attr('value', 'false');
                    $('#datepicker2').attr('disabled', 'disabled');
                    $('#saleAmount').attr('disabled', 'disabled');
                    $('#saleAmountCurrency').attr('disabled', 'disabled');
                    $('#datepicker2').val('');
                    $('#saleAmount').val('');
                }
            });
            $("#isNew").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }
            });
        </script>
        <script>
            function createVehiclePurchase() {
                var Brand = document.getElementById("Brand").value;
                var Model = document.getElementById("Model").value;
                var IsNew = document.getElementById("isNew").value;
                var IsSold = document.getElementById("isSold").value;
                var PurchaseDate = document.getElementById("datepicker").value;
                var SaleDate = document.getElementById("datepicker2").value;
                var ValorDate = document.getElementById("valorDate").value;
                var Chassis = document.getElementById("chassis").value;
                var PurchaseAmount = document.getElementById("purchaseAmount").value;
                var PurchaseAmountCurrency = document.getElementById("purchaseAmountCurrency").value;
                var OTVPercent = document.getElementById("otvPercent").value;
                var OTV = document.getElementById("otv").value;
                var KDV = document.getElementById("kdv").value;
                var IncludingRegistrationFee = document.getElementById("includingRegistrationFee").value;
                var RegistrationFee = document.getElementById("feeAmount").value;
                var SaleAmount = document.getElementById("saleAmount").value;
                var SaleAmountCurrency = document.getElementById("saleAmountCurrency").value;

                var data = new FormData();

                data.append('CarModel.Name', Model);
                data.append('IsNew', IsNew);
                data.append('IsSold', IsSold);
                data.append('PurchaseDate', PurchaseDate);
                data.append('SaleDate', SaleDate);
                data.append('ValorDate', ValorDate);
                data.append('Chassis', Chassis);
                data.append('PurchaseAmount', PurchaseAmount);
                data.append('PurchaseAmountCurrency', PurchaseAmountCurrency);
                data.append('OTVPercent', OTVPercent);
                data.append('OTV', OTV);
                data.append('KDV', KDV);
                data.append('RegistrationFee', RegistrationFee);
                data.append('IncludingRegistrationFee', IncludingRegistrationFee);
                data.append('SaleAmount', SaleAmount);
                data.append('SaleAmountCurrency', SaleAmountCurrency);

                $("#createButton").attr("disabled", true);

                $.ajax({
                    url: '/VehiclePurchase/Create',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (returnvalue) {
                        document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                        document.getElementById("swalDefaultSuccess").click();
                        window.setTimeout(function () {
                            location.reload();
                        }, 2000);
                    },
                    error: function (error) {
                        document.getElementById("swalDefaultError").value = error.responseText;
                        document.getElementById("swalDefaultError").click();
                        window.setTimeout(function () {
                            $("#createButton").attr("disabled", false);
                        }, 1600);
                    }
                });
            }
        </script>
    }
}