@model ExpenseManagement.Models.NewVehicleSales

@{
    ViewData["Title"] = "Sıfır Araç Satışı Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-plus"></i>&nbsp;Sıfır Araç Satışı Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="VehiclePurchaseId" class="control-label"></label>
                                            <select asp-for="VehiclePurchaseId" class="form-control select2" style="width: 100%;" asp-items="@ViewBag.VehiclePurchaseId" id="vehiclePurchaseId"></select>
                                            <span asp-validation-for="VehiclePurchaseId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LicencePlate" class="control-label"></label>
                                            <input asp-for="LicencePlate" class="form-control" id="licencePlate" autocomplete="off" />
                                            <span asp-validation-for="LicencePlate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PurchasedSalesmanId" class="control-label"></label>
                                            <select asp-for="PurchasedSalesmanId" class="form-control" asp-items="ViewBag.PurchasedSalesmanId" id="purchasedSalesmanId"></select>
                                            <span asp-validation-for="PurchasedSalesmanId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SalesmanId" class="control-label"></label>
                                            <select asp-for="SalesmanId" class="form-control" asp-items="ViewBag.SalesmanId" id="salesmanId"></select>
                                            <span asp-validation-for="SalesmanId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="TaxExempt"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <input type="checkbox" asp-for="TaxExempt" id="taxExempt">
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PurchaseDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="PurchaseDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker" disabled />
                                            </div>
                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="VehicleCost" class="control-label"></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select asp-for="VehicleCostCurrency" disabled class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.CurrencyEnum>()" id="vehicleCostCurrency"></select>
                                                </div>
                                                <input asp-for="VehicleCost" disabled class="form-control" autocomplete="off" id="vehicleCost" />
                                                <span asp-validation-for="VehicleCost" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SaleDate" class="control-label"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input asp-for="SaleDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker2" />
                                            </div>
                                            <span asp-validation-for="SaleDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SaleAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select asp-for="SaleAmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.CurrencyEnum>()" id="saleAmountCurrency"></select>
                                                </div>
                                                <input asp-for="SaleAmount" class="form-control" autocomplete="off" id="saleAmount" type="text" />
                                                <span asp-validation-for="SaleAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="WarrantyPlus" class="control-label"></label>
                                            <input asp-for="WarrantyPlus" class="form-control" id="warrantyPlus" autocomplete="off" />
                                            <span asp-validation-for="WarrantyPlus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <input asp-for="Description" class="form-control" id="description" autocomplete="off" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="createNewVehicleSales()" id="createButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <script>
            window.onload = GetPurchaseDate(1);

            $("#vehiclePurchaseId").on("change", function (e) {
                GetPurchaseDate(e.target.options[e.target.options.selectedIndex].label);
            })

            function GetPurchaseDate(vehiclePurchaseName)
            {
                $('#datepicker').html('');
                $.getJSON('@Url.Action("GetPurchaseDate", "NewVehicleSale")' + "?vehiclePurchaseName=" + vehiclePurchaseName, function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#datepicker").attr('value', moment(result[i].purchaseDate).format("YYYY/MM/DD"));
                        if (result[i].includingRegistrationFee != null) {
                            $("#vehicleCost").attr('value', currency(result[i].includingRegistrationFee, { decimal: ',', separator: '', symbol: '' }).format());
                        }
                        else {
                            $("#vehicleCost").attr('value', "");
                        }
                    }
                })

                $('#taxExempt').attr('value', 'false');

                $("#taxExempt").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                    }
                });
            }
        </script>
        <script>
            function createNewVehicleSales() {
                var VehiclePurchaseId = document.getElementById("vehiclePurchaseId").value;
                var LicencePlate = document.getElementById("licencePlate").value;
                var PurchasedSalesmanId = document.getElementById("purchasedSalesmanId").value;
                var SalesmanId = document.getElementById("salesmanId").value;
                var SaleAmount = document.getElementById("saleAmount").value;
                var SaleAmountCurrency = document.getElementById("saleAmountCurrency").value;
                var PurchaseDate = document.getElementById("datepicker").value;
                var SaleDate = document.getElementById("datepicker2").value;
                var VehicleCost = document.getElementById("vehicleCost").value;
                var VehicleCostCurrency = document.getElementById("vehicleCostCurrency").value;
                var WarrantyPlus = document.getElementById("warrantyPlus").value;
                var Description = document.getElementById("description").value;
                var TaxExempt = document.getElementById("taxExempt").value;

                var data = new FormData();

                data.append('VehiclePurchaseId', VehiclePurchaseId);
                data.append('LicencePlate', LicencePlate);
                data.append('PurchasedSalesmanId', PurchasedSalesmanId);
                data.append('SalesmanId', SalesmanId);
                data.append('SaleAmount', SaleAmount);
                data.append('SaleAmountCurrency', SaleAmountCurrency);
                data.append('PurchaseDate', PurchaseDate);
                data.append('SaleDate', SaleDate);
                data.append('VehicleCost', VehicleCost);
                data.append('VehicleCostCurrency', VehicleCostCurrency);
                data.append('WarrantyPlus', WarrantyPlus);
                data.append('Description', Description);
                data.append('TaxExempt', TaxExempt);

                $("#createButton").attr("disabled", true);

                $.ajax({
                    url: '/NewVehicleSale/Create',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (returnvalue) {
                        document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                        document.getElementById("swalDefaultSuccess").click();
                        window.setTimeout(function () {
                            location.reload();
                        }, 2000);
                    },
                    error: function (error) {
                        document.getElementById("swalDefaultError").value = error.responseText;
                        document.getElementById("swalDefaultError").click();
                        window.setTimeout(function () {
                            $("#createButton").attr("disabled", false);
                        }, 1600);
                    }
                });
            }
        </script>
    }
}