@model ExpenseManagement.Models.Expenses

@{
    ViewData["Title"] = "Maaş Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-plus"></i>&nbsp;Maaş Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ExpenseType" class="control-label"></label>
                                    <select asp-for="ExpenseType" class="form-control" asp-items="ViewBag.ExpenseType" id="expenseType" disabled onchange="changeExpenseType()"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sector.Name" class="control-label"></label>
                                    <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId" id="sectorId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Definition" class="control-label"></label>
                                    <input asp-for="Definition" class="form-control" id="definition" />
                                    <span asp-validation-for="Definition" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Month" class="control-label"></label>
                                    <select asp-for="Month" class="form-control" asp-items="@Html.GetEnumSelectList<ExpenseManagement.Enums.MonthEnum>()" id="monthId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SalaryAmount" class="control-label" id="salary-title-for-salary"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group mb-3" id="salary-for-salary">
                                        <div class="input-group-prepend">
                                            <select asp-for="SalaryAmountCurrency" class="form-control btn btn-default" asp-items="@Html.GetEnumSelectList<Expenses.SalaryAmountCurrencyEnum>()" id="salaryAmountCurrency"></select>
                                        </div>
                                        <input asp-for="SalaryAmount" class="form-control" id="salaryAmount" autocomplete="off" />
                                        <span asp-validation-for="SalaryAmount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="add()" id="createButton" />
                            <a class="btn btn-primary" asp-action="Salary" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var expenseType;
    var sectorId;
    var definition;
    var monthId;
    var salaryAmount;
    var salaryAmountCurrency;

    function add() {
        expenseType = document.getElementById("expenseType").value;
        sectorId = document.getElementById("sectorId").value;
        definition = document.getElementById("definition").value;
        monthId = document.getElementById("monthId").value;
        salaryAmount = document.getElementById("salaryAmount").value;
        salaryAmountCurrency = document.getElementById("salaryAmountCurrency").value;

        var data = new FormData();

        console.log(expenseType);

        data.append('expenseType', 2);
        data.append('sectorId', sectorId);
        data.append('definition', definition);
        data.append('month', monthId);
        data.append('salaryAmount', salaryAmount);
        data.append('salaryAmountCurrency', salaryAmountCurrency);

        $("#createButton").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/Expense/Create",
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#createButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>