@model ExpenseManagement.Models.ImportantDocuments

@{
    ViewData["Title"] = "Dokümanı Sil";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-danger">
                    <h4>Bu dokümanı silmek istediğinizden emin misiniz?</h4>
                    <p>
                        Bu dokümanı silerseniz işlemi geriye alamayacaksınız.
                    </p>
                </div>
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="nav-icon fas fa-file-pdf"></i> @Html.DisplayFor(model => model.Definition)
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="card-body">
                            @if (Model.Document != null)
                            {
                                @if (Model.DocumentFormat.Contains("pdf"))
                                {
                                    <div class="row invoice-info">
                                        <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])Model.Document)" type="application/pdf" style="width:810px;height:650px;margin-left:auto;margin-right:auto" scrolling="no" frameborder="0"></object>
                                    </div>
                                }
                                @if (Model.DocumentFormat.Contains("image"))
                                {
                                    <div class="row invoice-info">
                                        <img class="img-fluid pad" src="data:image;base64,@System.Convert.ToBase64String((Byte[])Model.Document)" style="max-width:810px;max-height:650px;margin-left:auto;margin-right:auto" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" id="id" />
                            <input type="submit" value="Evet" class="btn btn-danger float-right" onclick="deleted()" />
                            <a class="btn btn-primary float-right" asp-action="Luytob" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var id;

    function deleted() {
        id = document.getElementById("id").value;
        $.ajax({
            url: '/ImportantDocument/Delete?id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
            }
        });
    }
</script>