@model ExpenseManagement.Models.EnergyDaily

@{
    ViewData["Title"] = "Günlük Üretim Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-plus"></i>&nbsp;Günlük Üretim Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Date" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Kw" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen küsürat için virgül (,) kullanınız.)</strong></label>
                                    <input asp-for="Kw" class="form-control" id="kw" autocomplete="off" />
                                    <span asp-validation-for="Kw" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="add()" id="createButton" />
                            <a class="btn btn-primary pull-right" asp-action="Daily" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var date;
    var kw;

    function add() {
        date = document.getElementById("datepicker").value;
        kw = document.getElementById("kw").value;

        kw2 = kw.replace(/,/g, '.');

        $("#createButton").attr("disabled", true);

        $.ajax({
            url: '/Energy/DailyCreate?energyDaily.Date=' + date + '&energyDaily.Kw=' + kw2,
            type: 'POST',
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#createButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>