@model IEnumerable<ExpenseManagement.Models.EnergyLuytobs>

@{
    ViewData["Title"] = "Lüytob/Fatura";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fa fa-file-invoice-dollar"></i>&nbsp;Lüytob/Fatura
                            <a class="btn btn-light text-primary btn-sm float-right" asp-action="LuytobCreate"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Year)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Month)
                                            </th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        (function () {
            var generateCustomerTable = $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "»",
                        "sPrevious": "«"
                    },
                    sLengthMenu: "Listelenen maksimum kayıt sayısı: _MENU_",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "stateDuration": -1,
                "searching": false,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "/Energy/LuytobPost",
                    "method": "POST"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "year" },
                    { "data": "monthName" },
                    {
                        "data": "actionId", render: function (data, type, row) {
                            return '<div class="btn-group"><button type="button" class="btn" data-toggle="dropdown"><span class="fa fa-angle-down"></span></button></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="LuytobDetails/' + row.id + '">Detaylar</a> <a class="dropdown-item" href="LuytobDelete/' + row.id + '">Sil</a></ul></div>'
                        },
                        "orderable": false
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        })(jQuery);
    </script>
}